header {
    font-size: 28px;
    display: flex;
    width: 100vw;
    justify-content:center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quiz {
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    display: grid 
}

p {
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}